**MY first project of Data Science at YBI Foundation**

**Regression Problem**

Objective: To predict cement compressive strength

In [ ]:
#Import Library
import pandas as pd

In [ ]:
#import Data
strength= pd.read_csv("https://github.com/ybifoundation/Dataset/raw/main/Concrete%20Compressive%20Strength.csv")

In [ ]:
#view data
strength.head()

,Cement (kg in a m^3 mixture),Blast Furnace Slag (kg in a m^3 mixture),Fly Ash (kg in a m^3 mixture),Water (kg in a m^3 mixture),Superplasticizer (kg in a m^3 mixture),Coarse Aggregate (kg in a m^3 mixture),Fine Aggregate (kg in a m^3 mixture),Age (day),"Concrete Compressive Strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075

In [ ]:
#information of data
strength.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Cement (kg in a m^3 mixture)                      1030 non-null   float64
 1   Blast Furnace Slag (kg in a m^3 mixture)          1030 non-null   float64
 2   Fly Ash (kg in a m^3 mixture)                     1030 non-null   float64
 3   Water (kg in a m^3 mixture)                       1030 non-null   float64
 4   Superplasticizer (kg in a m^3 mixture)            1030 non-null   float64
 5   Coarse Aggregate (kg in a m^3 mixture)            1030 non-null   float64
 6   Fine Aggregate (kg in a m^3 mixture)              1030 non-null   float64
 7   Age (day)                                         1030 non-null   int64
 8   Concrete Compressive Strength(MPa, megapascals)   1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [ ]:
#summary statistics
strength.describe()

,Cement (kg in a m^3 mixture),Blast Furnace Slag (kg in a m^3 mixture),Fly Ash (kg in a m^3 mixture),Water (kg in a m^3 mixture),Superplasticizer (kg in a m^3 mixture),Coarse Aggregate (kg in a m^3 mixture),Fine Aggregate (kg in a m^3 mixture),Age (day),"Concrete Compressive Strength(MPa, megapascals)"
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.165631,73.895485,54.187136,181.566359,6.203112,972.918592,773.578883,45.662136,35.817836
std,104.507142,86.279104,63.996469,21.355567,5.973492,77.753818,80.175427,63.169912,16.705679
min,102.000000,0.000000,0.000000,121.750000,0.000000,801.000000,594.000000,1.000000,2.331808
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.707115
50%,272.900000,22.000000,0.000000,185.000000,6.350000,968.000000,779.510000,28.000000,34.442774
75%,350.000000,142.950000,118.270000,192.000000,10.160000,1029.400000,824.000000,56.000000,46.136287
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.599225

In [ ]:
#define target(y)and features (x)
strength.columns

Index(['Cement (kg in a m^3 mixture)',
       'Blast Furnace Slag (kg in a m^3 mixture)',
       'Fly Ash (kg in a m^3 mixture)', 'Water (kg in a m^3 mixture)',
       'Superplasticizer (kg in a m^3 mixture)',
       'Coarse Aggregate (kg in a m^3 mixture)',
       'Fine Aggregate (kg in a m^3 mixture)', 'Age (day)',
       'Concrete Compressive Strength(MPa, megapascals) '],
      dtype='object')

In [ ]:
y=strength['Concrete Compressive Strength(MPa, megapascals) ']

In [ ]:
x=strength[['Cement (kg in a m^3 mixture)',
       'Blast Furnace Slag (kg in a m^3 mixture)',
       'Fly Ash (kg in a m^3 mixture)', 'Water (kg in a m^3 mixture)',
       'Superplasticizer (kg in a m^3 mixture)',
       'Coarse Aggregate (kg in a m^3 mixture)',
       'Fine Aggregate (kg in a m^3 mixture)', 'Age (day)']]

In [ ]:
strength.shape

(1030, 9)

In [ ]:
#split data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=2529)

In [ ]:
#verify shape
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((721, 8), (309, 8), (721,), (309,))

In [ ]:
#verify fixed random state
x_train

,Cement (kg in a m^3 mixture),Blast Furnace Slag (kg in a m^3 mixture),Fly Ash (kg in a m^3 mixture),Water (kg in a m^3 mixture),Superplasticizer (kg in a m^3 mixture),Coarse Aggregate (kg in a m^3 mixture),Fine Aggregate (kg in a m^3 mixture),Age (day)
201,190.68,0.0,125.4,162.14,7.77,1090.0,804.01,28
930,159.00,209.0,161.0,201.00,7.00,848.0,669.00,28
656,200.00,133.0,0.0,192.00,0.00,965.4,806.20,3
770,349.00,0.0,0.0,192.00,0.00,1047.0,806.00,3
829,273.00,105.0,82.0,210.00,9.00,904.0,680.00,28
...,...,...,...,...,...,...,...,...
380,475.00,0.0,59.0,142.00,1.90,1098.0,641.00,28
943,151.60,0.0,111.9,184.40,7.90,992.0,815.90,28
740,297.00,0.0,0.0,186.00,0.00,1040.0,734.00,7
399,234.00,156.0,0.0,189.00,5.85,981.0,760.00,28
828,522.00,0.0,0.0,146.00,0.00,896.0,896.00,28

In [ ]:
#select model
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [ ]:
#train model
model.fit(x_train,y_train)

LinearRegression()

In [ ]:
#to determine intercept of best fit line
model.intercept_

9.091564943904963

In [ ]:
#to determine slopes of best fit line
model.coef_

array([ 0.10993242,  0.09405068,  0.08143475, -0.21109854,  0.24127402,
        0.00874882,  0.00890343,  0.1329637 ])

In [ ]:
#Predict model
y_pred=model.predict(x_test)

In [ ]:
#find the predicted value of compresssive strength(y)
y_pred

array([32.9126838 , 29.49103627, 51.22744988, 30.72830892, 61.01296607,
       36.1860749 , 18.19613228, 26.67718822, 31.39625583, 45.79720573,
       27.01819052, 22.39021356, 58.90321481, 44.06988109, 18.33538005,
       52.04886033, 36.49614143, 22.60633035, 30.30663022, 31.18479226,
       27.89909444, 32.26166347, 36.44587199, 31.20297845, 32.16141073,
       31.42165654, 44.72420225, 40.86127394, 73.03848849, 38.1254862 ,
       40.46367612, 49.81062665, 14.41496407, 61.79729246, 50.64223527,
       41.04723247, 27.55227895, 25.95109489, 41.91398869, 36.47050866,
       68.71688125, 21.52022469, 50.64223527, 34.38615155, 33.98783598,
       23.2595543 , 27.43079038, 63.57584523, 61.7732999 , 36.71417786,
       33.12177958, 39.83037545, 24.30184486, 53.62147764, 31.66355469,
       48.4918046 , 44.42143815, 23.85939922, 50.55499844, 54.17541752,
       28.12522197, 48.10148132, 56.81515762, 50.11038048, 36.31278417,
       32.89852959, 53.07186634, 16.60411502, 24.9233279 , 20.59680716,
       50.00886894, 21.0671616 , 35.96392102, 43.22243776, 71.13016829,
       28.06846777, 51.14530899, 71.33246291, 34.75406054, 67.81254556,
       40.79853376, 47.72161616, 19.68092909, 34.35832071, 18.12365678,
       40.13704815, 49.9503368 , 51.54780009, 36.62185052, 59.66075511,
       30.79521514, 40.18457343, 72.73642168, 28.5357489 , 48.29185085,
       50.30032573, 47.49054785, 16.51483575, 26.91221581, 34.2459002 ,
       34.41459454, 54.76869207, 34.58438024, 30.09433808, 48.25347094,
       47.82660576, 61.07175581, 32.7309265 , 39.6344388 , 38.99978219,
       56.46390995, 17.56006747, 45.30924369, 53.09217412, 24.03757125,
       50.94429407, 23.8465461 , 19.81409272, 18.21774816, 23.02423472,
       23.93725452, 24.46332994, 32.16504781, 37.5548739 , 45.9553106 ,
       40.06622837, 60.25858354, 25.21458755, 40.04006073, 33.29775811,
       32.58980067, 27.40577625, 53.70076652, 62.52173113, 35.68139271,
       49.04623338, 40.77636459, 23.10197432, 29.4523936 , 32.19577565,
       60.18689345, 16.25999227, 32.03168506, 58.32704968, 50.6134542 ,
       51.15254721, 38.58826576, 22.20896221, 61.7673486 , 24.18048316,
       34.90040811, 53.4344729 , 61.81118577, 37.10494356, 47.90760793,
       21.20227966, 30.34451658, 41.19046069, 27.58771507, 23.2890179 ,
       27.01534309, 28.49181472, 46.67750923, 48.16599367, 53.13981754,
       35.71578375, 18.29439526, 32.9981708 , 44.11919207, 26.42606673,
       30.86341498, 27.6454861 , 18.76707952, 37.79855626, 23.56246468,
       48.05030357, 58.74981848, 54.53595981, 23.69364792, 26.63919552,
       11.53814172, 31.72911617, 50.03706226, 28.08136899, 66.22120055,
       16.4945002 , 29.68237955, 57.1574564 , 37.1395837 , 34.47446385,
       46.78308579, 34.66981592, 21.74781672, 22.52942917, 27.27994933,
       10.70963052, 40.0721582 , 68.72642727, 50.64223527, 16.48056724,
       35.46767518, 37.31673037, 29.30506437, 42.16318682, 30.87152619,
       32.3329803 , 28.46840907, 58.25894331, 50.58396055, 37.10008272,
       36.59644471, 19.59797594, 62.0991097 , 24.94851492, 50.62069242,
       32.18867991, 33.22258473, 20.59356914, 22.3159537 , 31.31420488,
       23.57731886, 41.27209193, 27.09167074, 52.62067923, 43.87908019,
       48.9897518 , 27.69867303, 16.73122068, 54.61313489, 46.33382118,
       65.68934576, 71.38136964, 25.83718128, 19.14238553, 35.6884173 ,
       29.90766307, 47.51844879, 29.24534744, 22.39762405, 51.92349187,
       31.82672369, 31.41775018, 38.84065415, 33.1209942 , 11.2414853 ,
       57.40537251, 32.90957901, 31.28405235, 30.53662289, 53.94478483,
       29.39610782, 56.52409007, 27.41554843, 39.52486097, 47.3719424 ,
       39.62385834, 34.815488  , 66.62209046, 28.51945838, 21.7204462 ,
       71.88037317, 46.62624439, 30.04137681, 21.56163406, 29.25603812,
       45.25477885, 19.61067053, 34.05676695, 20.34450591, 33.28932435,
       36.02520561, 22.31280914, 30.81556288, 27.58238273, 44.45541777,
       34.92596195, 16.28529754, 39.10675182, 23.60253061, 29.6220465 ,
       13.72259812, 23.17959608, 22.79093874, 34.25318309, 35.1508161 ,
       20.64311267, 28.18898044, 12.06999651, 53.83199884, 37.64867556,
       27.09257937, 43.13943072, 29.44906551, 42.44580907, 29.25738559,
       33.32229177, 51.54988366, 30.87037964, 29.43415263, 69.01343818,
       62.36883319, 32.05320507, 28.17229719, 19.90686336, 59.90115447,
       64.78285728, 25.9718337 , 17.56596366, 38.60218436])

In [ ]:
#model error
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_test,y_pred)

0.3134440184320867

Model with 31.34% error and 68.66% accuracy

In [ ]:
#Future prediction
x.sample()

,Cement (kg in a m^3 mixture),Blast Furnace Slag (kg in a m^3 mixture),Fly Ash (kg in a m^3 mixture),Water (kg in a m^3 mixture),Superplasticizer (kg in a m^3 mixture),Coarse Aggregate (kg in a m^3 mixture),Fine Aggregate (kg in a m^3 mixture),Age (day)
584,228.0,342.1,0.0,185.7,0.0,955.8,674.3,7

In [ ]:
# define x_new
x_new=x.sample()

Future prediction if we are comfortable with 68.88% accuracy

In [ ]:
# predict for x_new
model.predict(x_new)

array([25.23108762])